//details
.details {
  border: 2px solid white;
  background-color: var(--backgroundOnTransparent);
  margin-right: 10px;
  height: max-content;
  width: max-content;
  pointer-events: fill;
}
.details .body {
  padding: 15px;
}
.details .body .name {
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

.details .body .type-rarity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.details .body .type-rarity .type {
  color: white;
  font-size: 14px;
}

.details .body .type-rarity .rarity {
  font-size: 12px;
  font-weight: bold;
}
.details .body .container {
  border: 1px solid white;
  padding: 3px 3px 7px 3px;
  margin: 2px;
}
.details .body .container .container-title {
  margin: 0px 20px 5px 20px !important;
  font-size: 12px;
  text-align: center;
  text-wrap: nowrap;
}
.details .body .container .container-body {
  margin: 0px auto 0px auto;
}

.details .body .container .container-body .attribute.icon {
  display: flex;
  flex-direction: row;
  align-items:stretch;
  color: white;
  border: 1px solid white;
  margin: 2px;
}
.details .body .container .container-body .attribute.icon svg {
  margin: 5px 7px 5px 0px;
}
.details .body .container .container-body .attribute.icon .value {
  font-size: 12px;
  margin: 3px;
  margin-bottom: 11px;
  font-weight: bolder;
  color: white;
}
.details .body .container .ability.icon {
  display: grid;
  grid-auto-columns: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas:
    "icon name"
    "description description";
  color: white;
  border: 1px solid white;
  margin: 2px;
}

.details .body .container .ability.icon svg {
  margin: 5px;
  grid-area: icon;
}
.details .body .container .ability.icon .name {
  font-size: 12px;
  margin: 3px;
  margin-bottom: 11px;
  font-weight: bolder;
  color: white;
  grid-area: name;
}

.details .body .ability.icon .description,
.details .body .container .ability.icon .description {
  font-size: 12px;
  margin: 3px;
  margin-bottom: 11px;
  font-weight: bolder;
  color: white;
  grid-area: description;
}
//details extended
.details.extended {
  position: absolute;
  top: 10%;
  left: 33%;
  right: 33%;
  z-index: 1;
}
.details.extended .background {
  border: none !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--backgroundTransparent);
  z-index: -1;
}
.details.extended .close {
  height: 1em;
  top: 0px;
  right: 0px;
  margin: 7px 4px 0px 0px;
  position: absolute;
  pointer-events: all;
}

.details.extended .close:hover {
  color: blue;
}
