 .details {
  border: 2px solid white;
  background-color: var(--backgroundOnTransparent);
  margin-right: 10px;
}

 .details .body {
  padding: 15px;
  background-color: var(--backgroundTransparent);
}

 .details .body .name {
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid white;
}

 .details .body .type-rarity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

 .details .body .type-rarity .type {
  color: white;
  font-size: 14px;
}

 .details .body .type-rarity .rarity {
  font-size: 12px;
  font-weight: bold;
}

 .details .body .stats-elementalStats {
  display: grid;
  grid-auto-columns: min-content min-content;
  grid-template-columns: 1fr 1fr;
}

 .details .body .stats-elementalStats .stat,
 .details .body .stats-elementalStats .elemental-stat,
 .details .body .unique-abilities,
 .details .body .abilities-enhancers {
  border: 1px solid white;
  padding: 3px 3px 7px 3px;
}

 .details .body .stats-elementalStats .stat .stat-body,
 .details .body .stats-elementalStats .elemental-stat .elemental-stat-body {
  display: grid;
  grid-auto-columns: min-content min-content;
  grid-template-columns: min-content min-content min-content min-content;
  grid-gap: 5px;
  margin: 0px auto 0px auto;
}

 .details .body .unique-abilities .unique-abilities-body,
 .details .body .abilities-enhancers .abilities-enhancers-body {
  display: grid;
  grid-auto-columns: min-content min-content;
  grid-template-columns: 1fr 1fr;
}

 .details .body .stats-elementalStats .stat .stat-title,
 .details .body .stats-elementalStats .elemental-stat .elemental-stat-title,
 .details .body .unique-abilities .unique-abilities-title,
 .details .body .abilities-enhancers .abilities-enhancers-title {
  margin: 0px 0px 5px 0px !important;
  font-size: 12px;
}

 .details .body .stats-elementalStats .stat .stat-body .attribute.icon,
 .details .body .stats-elementalStats .elemental-stat .elemental-stat-body .attribute.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border: 1px solid white;
  margin: 2px;
}

 .details .body .unique-abilities .unique-abilities-body .ability.icon,
 .details .body .abilities-enhancers .abilities-enhancers-body .ability.icon {
  display: grid;
  grid-auto-columns: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px 3px;
  grid-template-areas:
    "icon name"
    "description description";
  color: white;
  border: 1px solid white;
  margin: 2px;
}

 .details .body .stats-elementalStats .stat .stat-body .attribute.icon svg,
 .details .body .stats-elementalStats .elemental-stat .elemental-stat-body .attribute.icon svg {
  margin: 5px;
}

 .details .body .unique-abilities .unique-abilities-body .ability.icon svg,
 .details .body .abilities-enhancers .abilities-enhancers-body .ability.icon svg {
  margin: 5px;
  grid-area: icon;
}

 .details .body .unique-abilities .unique-abilities-body .name,
 .details .body .abilities-enhancers .abilities-enhancers-body .name {
  font-size: 12px;
  margin: 3px;
  margin-bottom: 11px;
  font-weight: bolder;
  color: white;
  grid-area: name;
}

 .details .body .unique-abilities .unique-abilities-body .ability.icon .description,
 .details .body .abilities-enhancers .abilities-enhancers-body .ability.icon .description {
  font-size: 12px;
  margin: 3px;
  margin-bottom: 11px;
  font-weight: bolder;
  color: white;
  grid-area: description;
}

 .details .body .stats-elementalStats .stat .stat-body .attribute.icon .value,
 .details .body .stats-elementalStats .elemental-stat .elemental-stat-body .attribute.icon .value {
  font-size: 12px;
  margin: 3px;
  margin-bottom: 11px;
  font-weight: bolder;
  color: white;
}

 .details.extended {
z-index: 1;}
 .details.extended .background{
  border: none !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--backgroundTransparent);
  z-index: -1;
}

 .details.extended .close {
  height: 1em;
  top: 0px;
  right: 0px;
  margin: 7px 4px 0px 0px;
  position: absolute}